<header>

  <nav class="menu">
     
      
    <ul> 

       <button mat-flat-button><li>Home </li></button>
       <button mat-flat-button><li>mejores goles </li></button>
      
    </ul>
    <ul>
        <button mat-flat-button><li>mas informacion </li></button>
  
    <button mat-flat-button><li>contactanos</li></button>
    

    
</ul>  

   </nav>
</header>
<main>
 <div class="cards">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="./assets/.luchop.jpg"></div>
      <mat-card-title>LUCHO DIAZ</mat-card-title>
      <mat-card-subtitle>LUCHO diaz</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/luchitogol.jpg" alt="">
    <mat-card-content>
      <p>
        el mejor gol de lucho diaz con la seleccion
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>compartir</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="./assets/.luchop.jpg"></div>
      <mat-card-title>LUCHO DIAZ</mat-card-title>
      <mat-card-subtitle>LUCHO diaz</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/liver.jpeg" alt="">
    <mat-card-content>
      <p>
        PRIMER GOL CON LIVERPOL
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>compartir</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="/assets/lu.jpeg"></div>
      <mat-card-title>LUCHO DIAZ</mat-card-title>
      <mat-card-subtitle>LUCHO diaz</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/luchop.jpg" alt="">
    <mat-card-content>
      <p>
        EL PRIMER JUGADOR COLOMBIANO EN LA PREMIER
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>compartir</button>
    </mat-card-actions>
  </mat-card>

</div>
</main>  

<footer>
   
    <div class="footer">

        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127249.02402126913!2d-74.19569556903632!3d4.677179218704597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9abf01007c8b%3A0xf34837fe0c5507db!2sBIT%20-%20Cursos%20de%20Programaci%C3%B3n%20en%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1642716079980!5m2!1ses!2sco" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <p> calle 10a#19b-194 bogota</p>
        </div>

        <div class="tema-pagina">
         
        <h5>ACERCA DE LUCHO DIAZ </h5>
        <p> 
            EL PRIMER JUGADOR COLOMBIANO EN LA PREMIER
        </p>
        
    </div>

    </div>
 
 </footer>