<header>

  <nav class="menu">
     
      
    <ul> 

       <li>Home </li>
       <li> Mejores Momentos</li>
      
    </ul>
    <ul>
    <li class="iconos">mas informacion</li>
  
    <li lass="iconos">contactanos</li>
    

    
</ul>  

   </nav>
</header>

<img class="baner" src="./assets/luchop.jpg" alt="">

<footer>

    <div class="footer">

        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127249.02402126913!2d-74.19569556903632!3d4.677179218704597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9abf01007c8b%3A0xf34837fe0c5507db!2sBIT%20-%20Cursos%20de%20Programaci%C3%B3n%20en%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1642716079980!5m2!1ses!2sco" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <p> calle 10a#19b-194 bogota</p>
        </div>

        <div class="tema-pagina">
         
        <h5>ACERCA DE LUCHO DIAZ </h5>
        <p> 
            EL PRIMER JUGADOR COLOMBIANO DE COLOMBIA
        </p>
        
    </div>

    </div>
 
 </footer>